<div class="show">
	<b class="top">
		<b class="b1"></b>
    <b class="b2"></b>
    <b class="b3"></b>
    <b class="b4"></b
	</b>
	<%= render :partial => "booking" %>
	<b class="bottom">
    <b class="b4"></b>
    <b class="b3"></b>
    <b class="b2"></b>
    <b class="b1"></b>
  </b>
</div>
